<form action='/upload' enctype="multipart/form-data" method="post">
  <input name="file" type="file" />
  <input type="submit" value="Upload" />
</form>

<ul>
  <% @files.each do |f| %>
    <li><%= f.key %></li>
  <% end %>
</ul>
