<article class="center mw5 mw6-ns br3 hidden ba b--black-10 mv4">
  <h1 class="f4 bg-near-white br3 br--top black-60 mv0 pv2 ph3">Login in Squirrel Supply</h1>
  <div class="pa3 bt b--black-10">
    <p class="f6 f5-ns lh-copy measure">
    Yo, this is a password protected site.
    </p>

    <form method="post" action="/login">
      <input name="pass" type="password" class="pa2 ma0 ba w-75"/>
      <input type="submit" class="pa2 w-20 ba" />
    </form>
  </div>
</article>
